<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <form v-on:submit.prevent="login">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <div>
                     <b-alert show variant="danger" v-if="error">Email or password was incorrect</b-alert>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" v-model="password" class="form-control" name="password" placeholder="Enter Password">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import router from './../../main'
import EventBus from './EventbusComponent'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: false
    }
  },
  methods: {
    login () {
      axios.post('api/user/login', {
        email: this.email,
        password: this.password
      }).then(res => {
          if(res.status === 200){
        localStorage.setItem('usertoken', res.data)
        this.email = ''
        this.password = ''
        router.push({ path: '/Dashboard' })
          } else {
              this.error = true;
          }
      }).catch(() => {
        router.push({ path: '/Login'})
        this.error = true;
      })
      this.emitMethod()
    },
    emitMethod () {
      EventBus.$emit('logged-in', 'loggedin')
    }
  }
}
</script>