<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form v-on:submit.prevent="register">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                              <div>
                     <b-alert show variant="danger" v-if="error">{{errMessage}}</b-alert>
                    </div>
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" v-model="first_name" class="form-control" name="first_name" placeholder="Enter Fist Name">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" v-model="last_name" class="form-control" name="last_name" placeholder="Enter Last Name">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" v-model="password" class="form-control" name="password" placeholder="Enter Password">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import router from './../../main'
export default {
  data () {
    return {
      first_name: '',
      last_name: '',
      password: '',
      email: '',
      error: false,
      errMessage: ''

    }
  },
  methods: {
    register () {
      axios.post('api/user/register', {
        first_name: this.first_name,
        last_name: this.last_name,
        password: this.password,
        email: this.email
      }).then(res => {
          if(res.status === 200){
        router.push({ path: '/Login' })
          } else {
              this.error = true;
              this.errMessage = 'Email is already in use'
          }
      }).catch(err  => {
        this.error = true;
        this.errMessage = err
      })
    }
  }
}
</script>