<template>
<div>
    <navigationcomponent/>
    <personcomponent id="personcard"/>
    <entitycomponent/>
    <aboutcomponent/>
</div>
</template>


<style scoped>
</style>

<script>
import NavigationComponent from '../components/NavigationComponent'
import AboutComponent from '../components/AboutComponent.vue'
import PersonComponent from '../components/PersoncardComponent'
import EntityComponent from '../components/EntityComponent'

export default {
    name: 'about',
    data() {
        return {
            
        }
    },
    components:{
        'aboutcomponent' : AboutComponent,
        'personcomponent' : PersonComponent,
        'entitycomponent' : EntityComponent,
        'navigationcomponent' : NavigationComponent
    }
}
</script>
<style scoped>
#personcard {
margin: auto;
  width: 34%;
  padding: 10px;
}
</style>
