<template>
<div>
    <navigationcomponent/>
    <communitycomponent/>
</div>
</template>


<style scoped>
</style>

<script>
import NavigationComponent from '../components/NavigationComponent'
import CommunityComponent from '../components/CommunityComponent'
export default {
    name: 'about',
    data() {
        return {
            
        }
    },
    components:{
        'navigationcomponent' : NavigationComponent,
        'communitycomponent' : CommunityComponent
    }
}
</script>

<style scoped>
</style>
