<template>
<div>
    <navigationcomponent/>
    <postcomponent/>
</div>
</template>


<style scoped>
</style>

<script>
import PostComponent from '../components/PostComponent'
import NavigationComponent from '../components/NavigationComponent'
export default {
    name: 'admin-dash',
    data() {
        return {
            
        }
    },
    components:{
        'postcomponent' : PostComponent,
        'navigationcomponent' : NavigationComponent
    }
}
</script>
