<template>
<div>
    <navigationcomponent/>
    <login/>
</div>
</template>


<style scoped>
</style>

<script>
import NavBarComponent from '../components/loginregister-components/NavBarComponent'
import Login from '../components/loginregister-components/LoginComponent'
export default {
    name: 'main',
    data() {
        return {
            
        }
    },
    components:{
        'navigationcomponent' : NavBarComponent,
        'login' : Login
    }
}
</script>
