<template>
<div>
    <navigationcomponent/>
     <img alt="Vue logo" id="mainpagelogo" src="../assets/111.png">
</div>
</template>


<style scoped>
#mainpagelogo {
  max-width: 500px;
  margin-right: 20px
}
</style>

<script>
import NavBarComponent from '../components/loginregister-components/NavBarComponent'
export default {
    name: 'main',
    data() {
        return {
            
        }
    },
    components:{
        'navigationcomponent' : NavBarComponent
    }
}
</script>
