<template>
<div>
    <navigationcomponent/>
    <profilecomponent/>
</div>
</template>


<style scoped>
</style>

<script>
import ProfileComponent from '../components/ProfileComponent'
import NavigationComponent from '../components/NavigationComponent'
export default {
    name: 'profile',
    data() {
        return {
            
        }
    },
    components:{
        'profilecomponent' : ProfileComponent,
        'navigationcomponent' : NavigationComponent
    }
}
</script>
