<template>
<div>
    <navigationcomponent/>
    <register/>
</div>
</template>


<style scoped>
</style>

<script>
import NavBarComponent from '../components/loginregister-components/NavBarComponent'
import Register from '../components/loginregister-components/RegisterComponent'
export default {
    name: 'main',
    data() {
        return {
            
        }
    },
    components:{
        'navigationcomponent' : NavBarComponent,
        'register' : Register
    }
}
</script>
