<template>
  <div>
    <b-table stacked :items="items"></b-table>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        items: [
          { name: 'Register on the website', ID: 'UC_001', description: 'user comes on the website and has to enter their username and password twice to register',
           actors:'User', pre_conditions: 'url entered in website and register button/link is clicked',
           post_conditions: 'database stores the data in the database', 
           main_course: '1) User enters a desired username and a password twice for confirmation. 2)System accepts username and password if it passes regEx 3) User can view the dashboard', 
           alternative_course: '1) User enters username/password 2)System rejects username because it has already been taken 3) User enters other username and password and registers 4)System accepts data',
            result: 'User succesfully registered a new account' }, 
        { name: 'Login on the website', ID: 'UC_002', description: 'user comes on the website and has to enter their username and password twice to login',
           actors:'User', pre_conditions: 'url entered in website and login screen is actived',
           post_conditions: 'security passes through methods with jwt and bcrypt in server-side', 
           main_course: '1) User enters an existing loginname and password. 2)System accepts username and password if it passes regEx and sends them through 3) User can view the dashboard', 
           alternative_course: '1) User enters username/password 2)System rejects username because it is the wrong credentials 3) User enters correct username and password and registers 4)System accepts data',
            result: 'User succesfully Logged in a new account' },{
            name: 'Create a post on the blog', ID: 'UC_003', description: 'User logged in and types his desired blogpost and clicks post to send it through online',
           actors:'User', pre_conditions: 'user is succesfully logged in and sees the mainscreen(dashboard)',
           post_conditions: 'User creates post and gets put in the databases', 
           main_course: '1)User types desired post in the input field 2) User clicks the button post to submit the post 3) System accepts post if its not empty 4) System displays post on screen 5) User sees post', 
           alternative_course: '1)User clicks on post button to post an empty post 2) System gives error displayed on the screen 3) User fills in input field 4) User submits 5) System accepts post and creates a new post in the database 6) System displays post',
            result: 'User posts a blog post on the blog' },
        ]
      }
    }
  }
</script>