<template>
    <div class="container">
        <div class="card-group">

            <!--bootstrap card with 3 horizontal images-->
            <div class="row">
                <div class="card col-md-4">

                    <div class="card-body">
                        <h4 class="card-title">Post</h4>
                        <p class="card-text">- _id</p>
                        <p class="card-text">- Text</p>
                        <p class="card-text">- createdAt</p>
                    </div>
                </div>

                <div class="card col-md-4">

                    <div class="card-body">
                        <h4 class="card-title">User</h4>
                        <p class="card-text">- _id</p>
                        <p class="card-text">- firstname</p>
                        <p class="card-text">- lastname</p>
                        <p class="card-text">- email</p>
                        <p class="card-text">- password</p>
                    </div>
                </div>

                <div class="card col-md-4">

                    <div class="card-body">
                        <h4 class="card-title">Category</h4>
                        <p class="card-text">- _id</p>
                        <p class="card-text">- name</p>
                    </div>
                </div>
                <div class="card col-md-4">

                    <div class="card-body">
                        <h4 class="card-title">Community</h4>
                        <p class="card-text">- _id</p>
                        <p class="card-text">- commName</p>
                        <p class="card-text">- members</p>
                        <p class="card-text">- totalPosts</p>
                        <p class="card-text">- createdAt</p>
                    </div>
                </div>
            </div>
        </div>
        <b-card bg-variant="dark" text-variant="white" title="Mijn Project">
            <b-card-text class="card-text-project">
                Het doel van mijn project is om een community op te bouwen voor eigen meningen/discussies. 
                Het heeft een soortgelijke functie als Reddit, maar dat is het niet.
                De user kan zich aan het begin registreren, en vervolgens wordt de user opgeslagen in de database die momenteel in de cloud staat.
                De user kan al gelijk een post aanmaken op de mainpage wat de main page community is. Er komen ook communities die zijn aangemaakt door de users zelf.
                De user kan zich aanmelden aan een community waar ook eigen posts erop komen. De community heeft posts gericht onder het onderwerp.
                De user kan zijn posts CRUD bewerken/bekijken/verwijderen/in zien.
            </b-card-text>
        </b-card>
    </div>
</template>

<script>
    export default {
        data() {}
    }
</script>

<style scoped>
    .card-body {
        padding: 0%;
        margin: 0%;
        max-height: 50%;
    }

    .card col-md-4 {
        max-width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .card-text {
        padding: 0%;
        margin: 0px;
    }
    .card-text-project{
        max-width: 80%;
                height: auto;
        margin-left: auto;
        margin-right: auto;
    }
</style>