<template>
<div>
  <b-navbar toggleable="lg" type="dark" variant="dark">
 <img alt="Vue logo" id="mainpagelogo" src="../assets/111.png">
    <b-navbar-brand id="title_page" to="/dashboard">notReddit</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/About">About</b-nav-item>
        <b-nav-item to="/Communities">Communities</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>{{first_name + " " + last_name}}</em>
          </template>
          <b-dropdown-item class="nav-item">
          <b-dropdown-item to="/profile">Profile</b-dropdown-item>
          </b-dropdown-item>
          <b-dropdown-item to="/Main" v-on:click="logout()">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>
import jwtDecode from 'jwt-decode'
export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      first_name: decoded.first_name,
      last_name: decoded.last_name,
      email: decoded.email
    }
  },
  methods: {
    logout() {
      localStorage.removeItem('usertoken')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#mainpagelogo {
  max-width: 80px;
  margin-right: 20px
}

#title_page {
  
}
</style>