<template>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/1212.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Winson Ngoh</h5>
    <h6 class="card-text">2125798</h6>
  </div>
</div>
</template>

<script>
  export default {
    data() {
    }
  }
</script>

<style scoped>
.card-img-top {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    font-size: 12px
}

.card-body{
    padding: 0px
}
</style>