<template>
  <div class="container">
    <h1>Latest general posts</h1>
    <div class="create-post">
      <label id="labelpost" for="create-post">
        Create a new post </label>
      <input type="text" id="create-post" v-model="text" placeholder="Type here your post">
      <button v-on:click="createPost(), emptyText()">Post!</button>
    </div>
    <hr>
    <p class="error" v-if="error">No posts available</p>
    <div class="posts-container">
      <div class="posts" v-for="(post, index) in posts" v-bind:item="post" v-bind:index="index" v-bind:key="post._id">
        <p class="text">{{post.text}}</p>
                                <quick-edit v-model="post.text"> Edit </quick-edit>
                <button class="delete_button" v-on:click="deletePost(post._id)" v-bind:key="post._id">Delete</button>
                <hr>
                
      </div>
    </div>
  </div>
</template>

<script>
  import QuickEdit from 'vue-quick-edit'
  import PostService from '../PostService'
  export default {
    name: 'PostComponent',
    data() {
      return {
        posts: [],
        error: false,
        text: '',
      }
    },
    async created() {
      this.fetchData()
    },
    methods: {
      async fetchData() {
      try {
          this.posts = await PostService.getPosts();
      } catch (error) {
        this.error = true;
      }
      },
      async createPost(){
        await PostService.insertPost(this.text);
        setTimeout(this.fetchData(), 500)
        this.error = false;
        // window.location.reload()  
      },
      async deletePost(id){
        await PostService.deletePost(id);
        this.error = false;
        setTimeout(this.fetchData(), 500)
        // window.location.reload()
      },
      async updatePost(id, text){
        await PostService.updatePost(id, text)
        setTimeout(this.fetchData(), 500)
      },
      async emptyText() {
        this.text = '';
      }
    },
    components: {
      QuickEdit
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#labelpost{
  margin-right: 10px;
}

.delete_button {
  margin-right: 30px
}
.vue-quick-edit__link--is-clickable {
    /* border-bottom: 1px dashed #0088cc; */
    cursor: pointer;
}
</style>